@mixin clearfix {
	&:before,
	&:after {
    	content: " ";
    	display: table;
	}

	&:after {
    	clear: both;
	}
}

@mixin bp($size, $width: 'max-width' ) {
	@media screen and (max-width: $size) {
		@content;
	}
}
