// ------------------------------------------------
// Login Variables
// ------------------------------------------------

$color__primary:		 #00A0D2;
$color__primary--red:	 #DC3235;
$color__text:			 #555D66;
$color__body:			 #DDD;
$trim:					 30px;
$padding: 				 20px;
